# This is what we actually install
h5py==3.12.1
lmdb==1.5.1
tensorflow==2.17.0
tfrecord[torch]==1.14.5

# h5py dependency
numpy==1.26.4

# tensorflow dependency
absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.67.0
keras==3.6.0
libclang==18.1.1
markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
opt-einsum==3.4.0
optree==0.13.0
protobuf==4.25.5
pygments==2.18.0
rich==13.9.2
tensorboard==2.17.1
tensorboard-data-server==0.7.2
termcolor==2.5.0
werkzeug==3.0.4
wrapt==1.16.0

# tfrecord[torch] dependency
crc32c==2.7.1
